form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 1.25rem;
    color: var(--dark-cyan);
}
input {
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background: var(--darker-grey);
    color: var(--white);
    letter-spacing: 2px;
}
.button_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}
.btn__cancel {
    background-color: var(--dark-red);
}
.btn__cancel:hover {
    background-color: var(--red);
}
#cancel_icon {
    transform: rotate(45deg);
}

.btn__add {
    width: 20%;
    color: black;
}