main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
}
header {
  margin: .5rem 0 1rem 0;
}
.title {
  font-size: 2.5rem;
  color: var(--white);
  font-family:  'Zilla Slab',Courier, monospace;
}
.task_list {
  height: 100vh;
  width: 95%;
  background-color: var(--grey);
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  margin: .5rem;
  border-radius: 5px;
  background-color: var(--darker-grey);
}
.task:hover .btn__delete {
  fill: var(--red);
}
.task__title {
  margin-left: 1rem;
  font-size: 1.25rem;
  color: var(--white);
}
.task__complete, .task__delete {
  cursor: pointer;
}
.button_list {
  height: 10vh;
  margin: 1rem 0 1rem 0;
  background-color: transparent;
}
.btn {
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.btn__add {
  background-color: var(--dark-cyan);
  color: var(--dark-grey);
}
.btn__add:hover {
  background-color: var(--cyan);
}
.add_task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 150px;
  max-height: 90%;
  max-width: 90%;
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--darker-grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.add_task .wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.closed {
  display: none;
}