@font-face{
  font-family: 'Zilla Slab';
  src: url('https://code.cdn.mozilla.net/fonts/woff2/ZillaSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  --dark-grey: #2a2a2a;
  --darker-grey: #333333;
  --grey: #646464;
  --cyan: #47FFC2;
  --dark-cyan: #3bd4a1;
  --red: #EB5757;
  --dark-red:#c54848;
  --white: #FFFFFF;
}
body {
  width: 100%;
  font-family: 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
