* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  --dark-grey: #2a2a2a;
  --darker-grey: #333333;
  --grey: #646464;
  --cyan: #47FFC2;
  --dark-cyan: #3bd4a1;
  --red: #EB5757;
  --dark-red:#c54848;
  --white: #FFFFFF;
}
body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
